/*******************************************************************************
 * Color scheme (You can change this to your own preference)
 ******************************************************************************/
:root {
  /* Color scheme */
  --adcoin-payments-primary:    #0facf3;
  --adcoin-payments-secondary:  white;
  --adcoin-payments-highlight:  #fbfbff;
  --adcoin-payments-background: white;

  --adcoin-payments-form:            #0facf3;
  --adcoin-payments-button-text:     #0facf3;
  --adcoin-payments-button-hover:    grey;
  --adcoin-payments-input-focus:     #f4fbff;
  --adcoin-payments-button-back: white;
  /* Margins, paddings & sizes */
  --adcoin-payments-padding-hor:     0px;
  --adcoin-payments-padding-ver:     0px;
  --adcoin-payments-margin-ver:      1rem;
  --adcoin-payments-row-width:       390px;
  --adcoin-payments-row-height:      40px;
}



/*******************************************************************************
 * Google Fonts
 ******************************************************************************/
/* latin-ext */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(http://fonts.gstatic.com/s/dosis/v7/HhyaU5sn9vOmLzlmC_W6EQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(http://fonts.gstatic.com/s/dosis/v7/HhyaU5sn9vOmLzloC_U.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(http://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWJ0bbck.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(http://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFUZ0bbck.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(http://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWZ0bbck.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(http://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVp0bbck.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(http://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWp0bbck.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(http://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFW50bbck.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(http://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}



/*******************************************************************************
 * Form content wrapper
 ******************************************************************************/
.adcoin-payments-payment-form {
  /* text styling */
  font-family: "Dosis", sans-serif;
  font-size: 0.9375rem;
  line-height: 1.5;

  /* align elements in div and set width */
  display: table;
  width: 256px;
  padding-left:   var(--adcoin-payments-padding-hor);
  padding-right:  var(--adcoin-payments-padding-hor);
  padding-top:    var(--adcoin-payments-padding-ver);
  padding-bottom: var(--adcoin-payments-padding-ver);

  /* border styling and background color */
  border-radius: 6px;
  background-color: white;
}



/*******************************************************************************
 * Form title
 ******************************************************************************/
.adcoin-payments-payment-form h2 {
  /* font */
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1px;
}



/*******************************************************************************
 * Form row divs
 ******************************************************************************/
#adcoin-payments-payment-form div {
  margin-bottom: var(--adcoin-payments-margin-ver);
}



/*******************************************************************************
 * Text inputs
 ******************************************************************************/
#adcoin-payments-payment-form input[type="text"], input[type="email"] {
  /* align in div */
  display: table-cell;
  padding: 5px 12px;
  width: var(--adcoin-payments-row-width);
  height: var(--adcoin-payments-row-height);

  /* font */
  font-family: "Open Sans", sans-serif !important;
  font-weight: 300;
  font-size: 14px;
  line-height: inherit;
  -webkit-appearance: none;

  /* border styling, shadow and colors */
  color: #b5b9bf;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.15) !important;
  border-color: #ebebeb;
  border-radius: 2px;
  outline: none;
  box-shadow: none;

  /* animations */
  -webkit-transition: 0.2s linear;
  -moz-transition:    0.2s linear;
  -o-transition:      0.2s linear;
  -ms-transition:     0.2s linear;
  transition:         0.2s linear;
}
#adcoin-payments-payment-form input[type="text"]:focus, input[type="email"]:focus {
  color: #616771;
  background-color: #fff;
  border-color: #70cef8 !important;
  outline: 0;
}
#adcoin-payments-payment-form input[type="text"]::placeholder, input[type="email"]::placeholder {
  color: #aaaaaa;
}



/*******************************************************************************
 * Pay button
 ******************************************************************************/
.adcoin-payments-pay-button input {
  /* text settings */
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: var(--adcoin-payments-row-height);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.7px;

  /* positioning and size */
  float: left;
  position: relative;
  padding: 0 2px 0 30px;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  height: var(--adcoin-payments-row-height);

  /* coloring and border styling */
  color: var(--adcoin-payments-secondary) !important;
  background-color: var(--adcoin-payments-primary) !important;
  border: 1px solid var(--adcoin-payments-secondary);
  border-radius: 4px;
  outline: none; /* remove selection outline */

  /* animation */
  -webkit-transition: all .05s ease-in-out;
  -o-transition: all .05s ease-in-out;
  transition: all .05s ease-in-out;
  -webkit-user-select: none;
  user-select: none;
}


.adcoin-payments-pay-button {
  /* display as block to the left of the button text */
  display: inline-block;
  position: relative;

  /* set AdCoin logo as background image */
  background: url("../img/logo_light.png") no-repeat left center transparent !important;
  background-size: 24px 24px !important;
  background-position: 2px center !important;
}

.adcoin-payments-pay-button input:hover {
  background: url("../img/logo_blue.png") no-repeat left center transparent !important;
  background-size: 24px 24px !important;
  background-position: 2px center !important;

  background-color: var(--adcoin-payments-highlight) !important;
  color: var(--adcoin-payments-primary) !important;
  cursor: pointer;
  border-color: var(--adcoin-payments-primary);
}

.adcoin-payments-pay-button input:active {
  background: url("../img/logo_light.png") no-repeat left center transparent !important;
  background-size: 24px 24px !important;
  background-position: 2px center !important;

  background-color: grey !important;
  color: white !important;
}

